<h1><%= @meetup.title %></h1>

<h4><li>Date: <%= @meetup.meetup_date %></li>
  <li>Description: <%= @meetup.description %></li>
  <li>Location: <%= @meetup.location.name %></li>
  <li>Created by: <%= @creator.username %></li></h4>

<h3>Who is attending?</h3>
  <% @users.each do |user| %>
  <% name = User.find(user) %>
  <li><img style="vertical-align:middle" src="<%= name.avatar_url %>" width="50" height="50" alt="User Avatar">  <%= name.username %></li><br>
  <% end %>
<br>

<% if @current_user.nil? %>
<%= flash[:notice] = 'Please sign in before joining meetups' %>
<form method="post" action="/meetups/<%= @meetup.id %>/join">
  <input type="submit" name= "join" value="Join" />
</form>
<% elsif %>
<% @current_attendees = @attendees.pluck(:user_id) %>
  <% unless @current_attendees.include?(@current_user.id) %>
  <form method="post" action="/meetups/<%= @meetup.id %>/join">
    <input type="submit" name= "join" value="Join" />
  </form>
<% end %>
<% end %>
